:root {
  --my-black: black;
  --my-beckground: #ded4d4;
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: var(--my-beckground);
  max-width: 1200px;
  margin: auto;
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  body {
    width: calc(100% - 16px);
  }
}

footer {
  position: fixed;
  bottom: 0;
}

.tlacitko {
  color: var(--my-black);
}

td,
th {
  border: 1px solid var(--my-black);
  padding: 15px;
}

.flexbox {
  display: flex;
  max-width: auto;
  margin: auto;
}
.flexbox-content {
  display: flex;
  flex-direction: column;
}

.menu {
  margin-top: 25px;
}

.content {
  order: 2;
  flex: 3;
  padding: 55px;
  margin-top: -45px;
}
.dot {
  list-style-type: none;
}
.jobs,
.course,
.fun {
  font-size: 20px;
}
.title {
  text-align: center;
  order: 1;
}

@media screen and (max-width: 600px) {
  .flexbox {
    flex-direction: column;
  }

  .menu {
    order: 1;
    text-align: center;
  }
  .dot-none {
    list-style-type: none;
  }
  /* .content {
    order: 3;
  } */
  .title {
    order: -1;
  }
}
